@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Fascinate&display=swap');

*{
    margin: 0;
    overflow-x: hidden
}

a{
    text-decoration: none;
}

.header{
    padding-top: 25px;
    text-align: center;
    background-color: maroon;
}

.header > a{
    font-family: 'Fascinate', cursive;
    font-size: 30px;
    color: rgb(255, 180, 19);
    text-shadow: 0px 8px 8px rgba(0,0,0,0.2);
}

.header > h2{
    font-family: 'Cabin Sketch', cursive;
    font-size: 30px;
    color: white;
    text-shadow: 0px 8px 8px rgba(0,0,0,0.2);
}

.header:hover a{
    text-shadow: 0px 8px 8px rgba(0,0,0,0.5);
}

ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    background-color: rgb(37, 37, 37);
    overflow: hidden;
}
  
li{
    float: left;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    
li a, .dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 25px;
    text-decoration: none;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
    padding-right: 4px;
}

.dropbtn{
    cursor: pointer;
}

li:hover, .dropdown:hover{
    background-color: rgb(255, 180, 19);
    box-sizing: content-box;
}

.dropdown-content{
    display: none;
    position: absolute;
    min-width: 180px;
    background-color: white;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
}

.dropdown-content a{
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    color: black;
    text-align: left;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover{
    background-color: whitesmoke;
}

@media only screen and (min-width: 680px){
    .content1{
        height: 500px;
        padding-top: 150px;
        padding-left: 80px;
    }
    .content-text1{
        font-size: 65px;
    }
    .adoptbtn{
        margin-top: 50px;
        margin-left: 50px;
        width: 250px;
        height: 80px;
        border-radius: 20px;
        font-size: 35px;
        box-shadow: 0 9px #999;
    }
    .adoptbtn:active{
        background-color: salmon;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    .content2{
        font-size: 20px;
    }
}

@media only screen and (max-width: 679px){
    .content1{
        height: 200px;
        padding-top: 30px;
        padding-left: 20px;
    }
    .content-text1{
        font-size: 30px;
    }
    .adoptbtn{
        margin-top: 15px;
        margin-left: 15px;
        width: 83px;
        height: 25px;
        border-radius: 6px;
        font-size: 12px;
        box-shadow: 0 4px #999;
    }
    .adoptbtn:active{
        background-color: salmon;
        box-shadow: 0 2px #666;
        transform: translateY(2px);
    }
    .content2{
        font-size: 12px;
    }
}

.content1{
    width: 100%;
    background-image: url(./Cat&Dog.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content-text1{
    width: 60%;
    color: black;
    font-family: 'Cabin Sketch', cursive;
    text-shadow: 0px 8px 8px rgba(0,0,0,0.2);
}

.adoptbtn{
    border: none;
    background-color: turquoise;
    color: white;
    font-family: 'Cabin Sketch', cursive;
    cursor: pointer;

}

.adoptbtn:hover{
    background-color: salmon;
}

.content2{
    margin: 20px 40px;
}

.content2 h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(37, 37, 37);
    font-size: 35px;
    padding-top: 40px;
    padding-left: 20px;
}

.reason{
    margin: 10px;
    padding: 10px;
}

.reason:hover{
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
}

.reason:hover .material-icons{
    color: yellow;
}

.reason h3{
    margin: 5px 5px;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(61, 61, 61);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.reason p{
    margin: 0px 3px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.email-subscribe{
    padding: 50px 50px;
    text-align: center;
    background-color: goldenrod;
    font-size: 30px;
}

.email-subscribe h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: maroon;
    padding-bottom: 20px;
}

.email-subscribe p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    font-size: 20px;
    padding-bottom: 20px;
}

.email-subscribe input{
    height: 30px;
    border: none;
    border-radius: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    padding-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}

.email-subscribe .button{
    height: 30px;
    width: 80px;
    border: none;
    cursor: pointer;
    background-color: maroon;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
}

.footer{
    width: 100%;
    background-color: rgb(37, 37, 37);
    text-align: right;
    padding-top: 20px;
}

.footer > a{
    margin-top: 10px;
    padding-right: 20px;
    font-size: 20px;
}

.footer-text{
    padding: 20px;
    color: white;
}

.footer-text p{
    margin-left: 20%;
    margin-bottom: 10px;
    text-align: right;
}

.footer a{
    text-decoration: none;
    color: lightblue;
}

.footer a:hover{
    color: sandybrown;
}

.subscribed{
    background-color: lightpink;
    padding: 80px;
    text-align: center;
}

.subscribed img{
    width: 40%;
}

.subscribed h2{
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 45px;
    font-family: 'Cabin Sketch', cursive;
}

.subscribed button{
    font-family: 'Cabin Sketch', cursive;
    font-size: 20px;
    height: 40px;
    width: 180px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.1);
}

.subscribed button:hover{
    background-color: rgb(225, 236, 243);
}

.about{
    margin: 50px;
    padding: 15px;
}

.about h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(37, 37, 37);
    font-size: 45px;
    padding-bottom: 40px;
    text-align: center;
}

.about h3{
    margin: 5px 5px;
    padding-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(61, 61, 61);
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.about p{
    margin: 0px 3px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}